{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <form class="registration-form" method="post">
    <legend class="border=bottom mb-4">Авторизация</legend>
        {% csrf_token %}
        {{ form|crispy }}
    <button class="btn btn-primary"  type="submit">Войти</button>
  </form>
  <p class="mt-2">Новенький? <a data-toggle="modal" data-target="#exampleModal" href="">Создать аккаунт!</a></p>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Кто вы?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body" style="text-align: center;">
            <a href="{% url 'student_registration' %}"><button type="button" class="btn btn-success">Студент</button></a>
            <a href="{% url 'teacher_registration' %}"><button type="button" class="btn btn-danger">Преподователь</button></a>
        </div>
    </div>
  </div>
</div>
{% endblock %}

