{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <form class="registration-form" method="post">
    <legend class="border=bottom mb-4">Создать сообщение</legend>
        {% csrf_token %}
        {{ post|crispy }}
    <button class="btn btn-primary"  type="submit">Создать</button>
  </form>
{% endblock %}

