{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <div class="container content">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar position-fixed">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
{#            <img src="https://media.rockstargames.com/chinatownwars/global/downloads/avatars/zhou_256x256.jpg" class="img-responsive" alt="">#}
              <img src="{{ user_info.image.url }}" class="img-responsive" alt="">
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{ user_info.get_full_name }}
            </div>
            <div class="profile-usertitle-job">
              {{ user_info.get_status }}
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
{#          <div class="profile-userbuttons">#}
{#            <button type="button" class="btn btn-success btn-sm">Follow</button>#}
{#            <button type="button" class="btn btn-danger btn-sm">Message</button>#}
{#          </div>#}
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu sidebar-sticky">
            <ul class="nav flex-column">
              <li class="active nav-item">
                <a href="#" class="nav-link active">
							<i class="fa fa-home"></i>
							Информация </a>
              </li>

                {% if user_info.get_status == 'Преподователь' %}
             <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal2">
							<i class="fa fa-user"></i>
							Время посещения </a>
              </li>
                {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="#">
							<i class="fa fa-flag"></i>
							Help </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile-content">
            <h2>Информация</h2>
            <hr>
            <div>
                <p>Фамилия: {{ user_info.last_name }}</p>
                <p>Имя: {{ user_info.first_name }}</p>
                <p>Отчество: {{ user_info.middle_name }}</p>
                <p>Учебное заведение: {{ user_info.university }}</p>
            </div>
            <hr>
            {% if user_info.get_status == 'Преподователь' %}
            <h2>Сообщения</h2>
            <div>
                {% for post in posts %}
                <div class="card mb-3">
                  <div class="card-header">
                    {{ post.title }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                      <p>{{ post.text }}</p>
                      {% if post.file %}
                        <a class="btn btn-primary btn-sm"  href="{{ post.file.url }}" download="{{ post.file.name }}">Скачать прикрепленные файлы</a>
                      {% endif %}
                      <footer class="blockquote-footer">Автор: <cite title="Source Title">{{ user_info.get_full_name }}</cite></footer>
                    </blockquote>
                  </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 ft">
</div>
  </div>
</div>


    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Когда преподователь будет в вузе</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% for date in dates %}
            <p>{{ date.day }}</p>
        {% endfor %}
    </div>
  </div>
</div>
{#    #}
{#    #}
{#    #}
{#    #}
{##}
{#    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#      Изменить информацию#}
{#    </button>#}
{##}
{% endblock %}