{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <form class="registration-form" method="post">
    {% if request.get_full_path == '/registration/student/' %}
        <h2>Регистрация студента!</h2>
    {% elif request.get_full_path == '/registration/teacher/' %}
        <h2>Регистрация преподователя!</h2>
    {% endif %}
    <hr>
    {% csrf_token %}
    {{ registration_form|crispy }}
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
{% endblock %}

