 
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list">
                                    <thead>
                                        <tr>
                                        <th><span>ФИО</span></th>
                                        <th><span>Учебное заведение</span></th>
                                        <th><span>Email</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>
                                                    <img src="{{ user.image.url }}" alt="">
                                                    <a href="{{ user.get_absolute_url }}" class="user-link">{{ user.get_full_name }}</a>
                                                    <span class="user-subhead">{{ user.get_status }}</span>
                                                </td>
                                                <td>{{ user.university }}</td>
                                                <td>
                                                    <a href="#">{{ user.email }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="pagination">

      {% if users.has_previous %}
        <a class="pagination-action" href="?page=1">
         <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ users.previous_page_number }}">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      {% endif %}

      <span class="pagination-current">{{ users.number }}</span>
      <span class="pagination-of">of</span>
      <span class="pagination-total">{{ users.paginator.num_pages }}</span>

      {% if users.has_next %}
        <a class="pagination-action" href="?page={{ users.next_page_number }}">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ users.paginator.num_pages }}">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
      {% endif %}

    </div>

{% endblock body %}