<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main_page' %}">Площадка</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main_page' %}">Домашняя<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">Пользователи</a>
      </li>
    </ul>
    <span class="navbar-text">
      {% if user.is_authenticated %}
        <a href="{% url 'me_profile' %}">Профиль</a>
        <a href="{% url 'new_post' %}">Добавить пост</a>
      {% else %}
          <a href="{% url 'login' %}">Авторизация</a>
      {% endif %}
    </span>
  </div>
</nav>
